node_modules/
client/node_modules/
server/node_modules/
mobileapp/node_modules/

.env
client/.env
server/.env
mobileapp/.env

build/
dist/
.vs/   


Mongose
mongosh -u opwadmin -p --authenticationDatabase admin
use myapp
show collections
db.users.find().pretty()

