MONGODB_URI=mongodb://127.0.0.1:27017/ommphysio
EMAIL_USER=tapaswinisahu2211@gmail.com
EMAIL_APP_PASSWORD=your_gmail_app_password
WHATSAPP_ACCESS_TOKEN=your_meta_whatsapp_cloud_api_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
WHATSAPP_OTP_TEMPLATE_NAME=your_approved_authentication_template_name
WHATSAPP_OTP_TEMPLATE_LANGUAGE=en_US
WHATSAPP_COUNTRY_CODE=91
WHATSAPP_GRAPH_VERSION=v21.0
WHATSAPP_OTP_TTL_SECONDS=600
WHATSAPP_OTP_DEV_MODE=false
